.select-wrapper {
  display: flex;
  width: 25%;

  select {
    font-family: inherit;
    background: var(--background-start-rgb);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);

    option {
      font-family: inherit;
      background: var(--background-start-rgb);
    }
  }

  @media (max-width: 700px) {
    width: 100%;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem 0 0.5rem 0;
  margin-bottom: 2rem;

  .grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(25%, auto));
    max-width: 100%;
    gap: 1.5rem;
    width: var(--max-width);
  }

  @media (min-width: 701px) and (max-width: 1120px) {
    .grid {
      grid-template-columns: repeat(2, 50%);
      max-width: 720px;
    }
  }

  @media (max-width: 700px) {
    .content {
      padding: 4rem;
    }

    .grid {
      grid-template-columns: 1fr;
      margin-bottom: 2rem;
      max-width: 320px;
      text-align: center;
      gap: 1rem;
    }

    .card {
      padding: 1rem 2.5rem;

      h2 {
        margin-bottom: 0.5rem;
      }
    }

    .center {
      padding: 4rem 0 6rem;

      &::before {
        transform: none;
        height: 300px;
      }
    }
  }
}