.card {
  background: rgba(var(--card-rgb), 0.1);
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
  text-align: center;
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  transition: background 200ms, border 200ms;
  position: relative;

  &:hover {
    &::after {
      opacity: 1;
      filter: blur(35px);
    }
  }

  &::after {
    background: var(--primary-glow);
    width: 180px;
    height: 70px;
    top: 30%;
    left: 30%;
    z-index: -1;
  }

  &::after {
    opacity: 0.8;
    content: '';
    position: absolute;
    filter: blur(45px);
    transform: translateZ(60);
    transition: transform 50ms, opacity 50ms;
    transition-delay: 50ms;
  }

  span {
    display: inline-block;
    transition: transform 200ms;
  }

  .card-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;

    h3 {
      margin-left: 0.5rem;
      margin-bottom: 0;
      font-weight: 600;
    }
  }

  .card-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1rem;
    text-transform: uppercase;

    p {
      padding: 1rem 0;
      font-size: 1.4rem;
      display: flex;
      flex-direction: column;

      span {
        font-size: 0.8rem;
        padding: 0.2rem 0;
        opacity: 0.6;
      }
    }

    p:first-child {
      text-align: left;
      border-right: 0.5px solid rgba(var(--card-border-rgb), 0.15);
    }

    p:last-child {
      text-align: right;
      border-left: 0.5px solid rgba(var(--card-border-rgb), 0.15);
    }
  }

  .card-footer {
    p {
      margin: 0;
      opacity: 0.6;
      font-size: 1rem;
      line-height: 1.5;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;

      span {
        font-size: 0.6rem;
      }
    }
  }
}